# 파이썬의 기본 문법

## 변수

In [1]:
#두 수의 합 구하기
a = 20
b = 30
c = a + b 
print(c)

50

In [2]:
#정수형
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [3]:
type(x)

int

In [4]:
#실수형
x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [7]:
#문자열
a = 'x'
b = 'I am ok.'
c = "안녕하세요."
d = "I'm ok."

print(a, b, c, d)
print(type(d))

x I am ok. 안녕하세요. I'm ok.
<class 'str'>

In [8]:
#숫자와 문자열
a = 30
a, type(a)

(30, int)

In [9]:
b = '30'
b, type(b)

('30', str)

In [10]:
#문자열의 인덱싱
a = 'I am happy!'
a

'I am happy!'

In [11]:
a[0], a[0:3], a[5:]

('I', 'I a', 'happy!')

In [12]:
a[-1], a[-3:], a[-4:-2]

('!', 'py!', 'pp')

In [13]:
#Boolean
t = True
f = False
print(t, f)

True False

In [14]:
condition = 10 > 20
print(condition)

False

In [15]:
type(condition)

bool

## 산술연산자

In [19]:
# 사칙연산
a = 10
b = 20
c = a + b * 10 - 5 / 5
print(c)

209.0

In [1]:
True + 3

4

In [2]:
# 나머지와 몫
x = 10 % 3
y = 10 // 3
x, y

(1, 3)

In [3]:
x = 9 / 3
y = 9 // 3
x, y

(3.0, 3)

In [4]:
# 거듭 제곱
x = 2 ** 3
x

8

In [5]:
2 ** -3

0.125

In [6]:
# 할당 연산자
x = 10
x += 20       # x = x + 20
x

30

In [8]:
# 문자열
hello = '안녕' * 5
print(hello)

안녕안녕안녕안녕안녕

In [9]:
# 문자열 길이(len)
len(hello)

# 영문자는 알파벳 하나 당 1byte
# 한글은 EUC-KR의 경우 2byte, UTF-8은 초, 중, 종성 3byte
# 웹이나 DB에서 UTF-8이 최적화

10

In [10]:
len('나는 Python을 좋아합니다.')

17

In [11]:
# 문자열 연결(concatenate)
name = '홍길동'
greet = name + '님 안녕하세요!'
print(greet)

홍길동님 안녕하세요!

In [12]:
# 문자열 연결 시 주의사항
eng = 80
result = '영어점수: ' + str(eng) + '점'
result
# 서로 다른 타입을 연결할 수 없다. int를 str으로 전환.

'영어점수: 80점'

In [13]:
# 문자열 포맷팅
result = '영어점수: %d점' % 80
result

'영어점수: 80점'

In [14]:
year = 2020
month = 8
day = 27
date = '%d-%02d-%02d' % (year, month, day)
date
# %02d -> 2자리 정수로 쓰되, 남는 자리는 0으로 채운다.

'2020-08-27'

In [15]:
height = 172.5
a = '키는 %.2f입니다.' % height
a
# %.2f -> 소수점 자리를 2자리로 하는 실수로 출력

'키는 172.50입니다.'

In [16]:
# format() 활용
name = '황예린'
age = 18
eyesight = 1.2

a = '이름: {}'.format(name)
b = '나이: {}세'.format(age)
c = '시력: {}'.format(eyesight)

a, b, c

('이름: 황예린', '나이: 18세', '시력: 1.2')

In [17]:
# 문자열 메소드
hello.count('안')

5

In [18]:
a.find('름')
# 문자열의 인덱스 표시

1

In [19]:
a.find('나')
# 결괏값이 -1인 건 해당사항 없다는 뜻

-1

In [24]:
names = '김,이,박,최,정'
first_names = names.split(',')
first_names

# .csv -> Comma Seperated Values
# .tsv -> Tab Seperated Values

['김', ' 이', '박', '최', '정']

In [26]:
space = names.isspace()
space

False

## 실행결과 출력

In [27]:
# 콤마
print(name, age, eyesight)

황예린 18 1.2

In [28]:
# sep
print(year, month, day)
print(year, month, day, sep='/')

2020 8 27
2020/8/27

In [29]:
# end
print(year, month, day, end='\n\n')
print(name, age, eyesight)

2020 8 27

황예린 18 1.2

In [31]:
print(year, month, day, sep='.', end='\n\n')
print(name, age, eyesight, sep=',')

# positional argument는 keyword argument에 후행하지 못함

2020.8.27

황예린,18,1.2

## 키보드 입력

In [32]:
name = input('이름 입력: ')

이름 입력: 홍길동

In [33]:
name

'홍길동'

In [34]:
first = input('첫번째 숫자')
second = input('두번째 숫자')

첫번째 숫자10
두번째 숫자20

In [35]:
sum = first + second
sum

'1020'

In [37]:
sum = int(first) + int(second)
sum

30

In [44]:
inch = float(input('인치(inch)값 입력: '))

인치(inch)값 입력: 30

In [39]:
inch

30.0

In [43]:
cm = inch * 2.54
print('Inch: %.2f -> Centimeter: %.2f' % (inch, cm))

Inch: 30.00 -> Centimeter: 76.20

## 주석문

In [45]:
# 한 줄짜리 주석문
cm = 2.54 * inch # 인치를 센티미터로 변환

In [54]:
"""
이 사이에는 여러 줄짜리 주석문이 올 수 있습니다.
프로그램 명: 두 수 더하기
"""

'\n이 사이에는 여러 줄짜리 주석문이 올 수 있습니다.\n프로그램 명: 두 수 더하기\n'

In [47]:
width = 10
height = 3
area = width * height / 2
print('삼각형의 밑변 길이: ', width)
print('삼각형의 높이: ', height)
print('삼각형의 면적: ', area)

삼각형의 밑변 길이:  10
삼각형의 높이:  3
삼각형의 면적:  15.0

In [48]:
price = 800
buy = 3
pay = 5000
change = pay - price * buy
print('물건가격: ', price, '원')
print('구매개수: ', buy, '개')
print('지불금액: ', pay, '원')
print('거스름돈: ', change, '원')

물건가격:  800 원
구매개수:  3 개
지불금액:  5000 원
거스름돈:  2600 원

In [49]:
x = 20
y = 4

x = y % x
print(x)

y -= x * 2
print(x, y)

4
4 -4

In [52]:
name = "홍길동"
age = 30
height = 171.5

print('성:', name[0])
print('이름:', name[1:])
print("%s의 나이: %d세, 키: %.2fcm" % (name, age, height))

성: 홍
이름: 길동
홍길동의 나이: 30세, 키: 171.50cm

In [53]:
name = input('학생 이름을 입력하세요:')
kor = int(input('국어 성적을 입력하세요:'))
eng = int(input('영어 성적을 입력하세요:'))
math = int(input('수학 성적을 입력하세요:'))

total = kor + eng + math
avg = total / 3

print('이름: %s, 국어: %d, 영어: %d, 수학: %d, 평균: %.1f점' % (name, kor, eng, math, avg))

학생 이름을 입력하세요:황예린
국어 성적을 입력하세요:83
영어 성적을 입력하세요:85
수학 성적을 입력하세요:91
이름: 황예린, 국어: 83, 영어: 85, 수학: 91, 평균: 86.3점